body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: cover;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  
  .intro {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
  }
  
  .intro h1,
  .intro p {
    margin: 0 0 20px;
  }
  
  .start-timeline-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-timeline-btn:hover {
    background-color: #45a049;
  }
  
  .timeline {
    max-width: 80%;
    margin: 50px auto;
    position: relative;
    opacity: 0; /* Hidden by default */
    transform: translateY(30px); /* Prepare for animation */
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .timeline.visible {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Bring to position */
  }
  
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #6c63ff;
    z-index: -1; /* Ensures the line is behind the markers */
  }
  
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  
  .timeline-item {
    position: relative;
    margin: 40px 0;
  }
  
  .timeline-marker {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #6c63ff;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1; /* Ensures the marker is above the line */
  }
  
  .timeline-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
  }
  
  .timeline-item:nth-child(odd) .timeline-content {
    margin-left: auto;
    text-align: left;
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    margin-right: auto;
    text-align: right;
  }
  
  .timeline-content h3 {
    margin: 0 0 10px;
    color: #0e03e4;
  }
  
  .timeline-content p {
    margin: 0 0 10px;
    color: #333;
  }
  
  .timeline-content img,
  .timeline-content video {
    max-width: 90%;
    border-radius: 8px;
    margin-top: 10px;
    display: block; /* Ensures proper spacing */
  }
  
  .timeline-item {
    opacity: 1; /* Make the item fully visible by default */
    transform: rotate(0deg); /* No initial rotation */
    transition: transform 0.6s ease-out, opacity 0.6s ease-out; /* Smooth transition */
  }
  
  .timeline-item.visible {
    opacity: 1; /* Keep the opacity full when item becomes visible */
    transform: rotate(0); /* Reset the rotation */
  }
  
  
  